body {
    background-image: url(./images/forest_road_aerial_view_198687_2048x1152.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    backdrop-filter: blur(0px);
}

.form-control {
    border: 2px solid #0000004d !important;
}

.outputContainer {
    display: flex;
}

.display-1 {
    color: black;
    display: inline-block;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

#calculateButton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    padding: 0 16px;
    border-radius: 5px;
    color: #fff;
    background: #6200ee;
    line-height: 1.15;
    font-size: 14px;
    height: 36px;
    word-spacing: 0px;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 64px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

#calculateButton:hover {
    background: rgb(98, 0, 238);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

#header {
    font-size: 28px;
    margin-top: -20px;
}

#calculate {
    margin-top: 25px;
    margin-bottom: 10px;
}

.app-window {
    width: 350px;
    height: 610x;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.calculate-distance {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.calculate-fuel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

h1 {
    color: #0766AD;
    margin: 0;
}

.odometer {
    font-size: 40px;
    margin-top: -0px;
}

/* new */
.tabs {
    display: flex;
    margin-bottom: 15px;
}

.tab-btn {
    flex: 1;
    padding: 10px;
    background-color: #C3C4C9;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.tab-btn:hover {
    background-color: #0056b3;
    color: white;
    font-weight: 650;
    font-size: 17px;
}

.tab-btn.active {
    background-color: #ffffff;
    color: black;
    font-weight: 650;
    font-size: 17px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.outputContainerFuel {
    display: grid;
}

#fuelCostLabel {
    margin-bottom: 5px;
}

#title {
    color: white;
    font-weight: 750;
    font-size: 40px;
    justify-content: center;
    margin-top: -150px;
    display: inline;
    margin-bottom: 10px;
    display: flex;
    text-shadow: 2px 0px #000000b5;
}